@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: skyblue;
    font-family: 'Roboto', sans-serif;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vw;
    
    font-size: 15dvh;
    padding: 1.3em;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
}

.stop {
    display: flex;
    justify-content: center;
}

#btn4 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

#btn4:hover,
#btn4:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#btn4:hover {
  transform: translateY(-1px);
}

#btn4:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

button {
    border: none;
    background-color: skyblue;
    margin: 2em;
    font-size: 32px;
    padding: 1em;
}


button:hover,
button:focus {
    border: 1px solid black;
    border-radius: 4px;
}